.pink {
	color: #eb0f96;
}
.teal {
	color: #14afaf;
}

#stripe-payment-form-singlepage {

}

#stripe-payment-form-singlepage > div:not(#payment_error_div):not(#confirmation_popup) {
	transition: background-color .25s;
	transition-timing-function: ease-in-out;
	background-color: rgba(20, 175, 175, 0.1);
	background-image: linear-gradient(45deg, rgba(20, 175, 175, 0.22) 0%, rgba(221, 221, 221, 0.33) 60%, rgba(20, 175, 175, 0.1) 100%);
	padding: 15px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
	margin-bottom: 15px; 
}

#stripe-payment-form-singlepage > div:hover:not(#payment_error_div) {
	background-color: rgba(20, 175, 175, 0.2);
	}

#stripe-payment-form-singlepage > div:focus-within:not(#payment_error_div) {
	background-color: rgba(20, 175, 175, 0.3);
	}

#stripe-payment-form-singlepage div.payment-error {
	background-color: rgba(255,255,255,0);
	background-image: none;
	border: 0px;
	box-shadow: none;
	padding: 15px;
	margin: auto;
}

#stripe-payment-form-singlepage h1 {
	font-size: 2rem;
}

#stripe-payment-form-singlepage h2 {
	width: 100%;
	display: block;
	border-radius: 5px;
	color: #eb0f96;
	padding: 5px 0 5px 5px; 
	margin: 15px 0;
	font-size: 1.3rem;
}

#stripe-payment-form-singlepage h3 {
	font-size: 1.1rem;
}

.form-row > span {
	display: block;
	background-color: rgba(255, 255, 255, 0.33);
	margin-bottom: 5px;
	padding: 10px 25px;
	border-radius: 0px;
	transition: border-radius .25s;
	transition-timing-function: ease-in-out;
	}

.form-row > span:focus-within {
	background-color: rgba(255, 255, 255, 0.66);
	border-radius: 50px;
	}

#donor_addresses_div:focus-within, #artscard_address_div:focus-within, #artscard_email_div:focus-within, #artscard_name_div:focus-within {
	background-color: rgba(255, 255, 255, 0.66);
	border-radius: 50px;
	}

#donor_addresses_div, #artscard_address_div, #artscard_email_div, #artscard_name_div  {
	display: block;
	background-color: rgba(255, 255, 255, 0.33);
	margin-bottom: 5px;
	padding: 10px 25px;
	border-radius: 0px;
	transition: border-radius .25s;
	transition-timing-function: ease-in-out;
}

#stripe-payment-form-singlepage label {
	width: 100%;
	text-transform: uppercase;
	display: block;
	font-size: 0.8rem;
	margin-bottom: -5px;
	}

#stripe-payment-form-singlepage input[type=text], #stripe-payment-form-singlepage input[type=email] {
	width: 100%;
	padding: 5px;
	margin: 0px 0px 10px 0px;
	box-sizing: border-box;
  	background: none;
  	resize: none;
  	border: 0;
  	font-family: "Stag Sans", sans-serif;
	font-size: 1.2rem;
	color: #047b7b;
  	transition: all 0.3s;
  	border-bottom: 2px solid #bebed2;
}

#stripe-payment-form-singlepage input[type=text]:focus, #stripe-payment-form-singlepage input[type=email]:focus {
	border-bottom: 1px dashed #14afaf;
}

#stripe-payment-form-singlepage input[type=number], #stripe-payment-form-singlepage input[type=number] {
	width: 100%;
	padding: 5px;
	margin: 0px 0px 10px 0px;
	box-sizing: border-box;
  	background: none;
  	resize: none;
  	border: 0;
  	font-family: "Stag sans", sans-serif;
	font-size: 1.2rem;
	color: #047b7b;
  	transition: all 0.3s;
  	border-bottom: 2px solid #bebed2;
}

#stripe-payment-form-singlepage input[type=number]:focus, #stripe-payment-form-singlepage input[type=number]:focus {
	border-bottom: 1px dashed #14afaf;
}

#gift-details input[type=radio], #gift-details label {
	display: inline;
}


.important_text {
	font-weight: bold;
}

#freqradio {
	margin-left: 15px;
}

#fund_total {
	border: 0;
	box-shadow: none;
	background: none;
}

#fund_total:focus {
	border: 0px!important;
	box-shadow: none;
}


#payperiod_container {
	margin-top: 25px;
    background-color: rgba(238, 238, 238, 0.8);
	mix-blend-mode: multiply;
    padding: 2% 5% 5%;
    display: block;
}

#period_total_label {
	display: block;
}

#period_total_label::after {
	content: " equals $";
}

input#period_total {
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}

#gift_allocations {
	padding: 10px;
	margin-top: 15px;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}

#gift_allocations > div {
	border: white dashed 1px;
	margin: 15px;
	padding: 10px;
	width: 42%;
	text-align: center;
}

#gift_allocations .infopopup {
	text-align: left;
}

#gift_allocations > h3 {
	width: 100%;
}

#gift_allocations input {
	text-align: center;
}

#fund_designated_name::placeholder {
	font-size: 0.9rem;
}

#gift_allocations > p:first-of-type {
	width: 100%;
	text-align: center;
}

#gift_allocations > div:focus-within {
	border: white solid 1px;
	margin: 15px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.66);
}


#gift_allocations > div:nth-last-child(2) {
	border: 0px;
	font-weight: 800;
	align-content: center;
}

#gift_allocations > div:nth-last-child(2) > input {
	border-bottom: 0px;
	font-weight: 800;
	text-align: center;
}


#artscard_image {
    background: url(data/Arts-Card-web-small.png) no-repeat;
    background-size: 150px;
    width: 150px;
    height: 100px;
    margin: auto;
}

#giftartscard_input label, #giftartscard_input input {
	display: inline;
}

#giftartscard_input {
	text-align: center;
}

#card-element {
	padding: 5px;
	margin: 10px;
	border-bottom: 2px solid #bebed2;
}

#cc-payment-container > label {

}

#cc-payment-container > label::after {
	content:" Card Info";
}

button#confirmation_button {
	margin-top: 5px;
	margin-bottom: 5px;
    margin-left: 25%;
    width: 50%;
    position: relative;
    height: 45px;
    background: #eb0f96;
    border-radius: 50px;
    border: 1px solid #960;
    color: #fff;
	font-size: 1.3em;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.5);
    transition: background .2s, box-shadow .3s, color .4s;
    transition-timing-function: ease-in-out;
}

button#confirmation_button:hover {
	background: #c90d74;
	color: rgba(255, 255, 255, 0.66);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
}

#confirmation_popup {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1001;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75)!important;
	top: 0;
	left: 0;
	margin: auto;
}

#confirmation_popup_content {
	background-color: #fff;
	padding: 5px 25px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
	border: black 1px solid;
	border-radius: 5px;
    overflow: auto;
	max-height: 55vh;
	line-height: 1.2rem;
	font-size: 0.8rem;
	display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
	justify-content: space-evenly;
}

#confirmation_popup_content > p {
	margin: -10px 0 10px 0;
	width: 100%;
}

#confirmation_popup_content > div {
	min-width: 200px;
}

#confirmation_popup_content h5 {
	margin-top: 10px;
}

#artscard_info hr {
	display: none;
}

#confirmation_buttons {
	width: 100%;
	text-align: center;
}

#confirmation_popup button {    
	padding: 10px;
	margin: 15px 10px;
	border-radius: 25px;
	color: #14afaf;
	background-color: white;
	transition: background .5s;
    transition-timing-function: ease-in-out;
	width: 45%;
	min-width: 150px;
}

#confirmation_popup button:hover {    
	background-color: #aadfdf;
}

button#stripe-submit {    
    color: white;
    background-color: #14afaf;
    border-color: #99dfdf;
}

button#stripe-submit:hover { 
	background-color: #aadfdf; 
}

#confirm_payroll_deduction, #confirm_artscard, #confirm_paymethod {
	font-weight: 800;
	color: #900;
	padding: 5px 0;
	margin-bottom: 10px;
}

input.invalid{
	border: 3px solid red !important;
}

.infopopup {
	position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5em;
    border: 1px solid gray;
	font-size: 0.7rem;
	line-height: 1.5em;
	padding-left: 0.5em;
	font-style: oblique;
}

.infopopup .popupcontent{
	visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
	line-height: 1.5em;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.infopopup .show{
	visibility: visible;
}

.payment-error {
	font-weight: bolder;
	color:red;
}

#resultscontent p {
	font-size: 100%!important;
}

.wrap {
	display:inline-block;
	width: 100%;
}


.wrap > textarea {
	width: inherit;
}

#cc_images{
	width: 100%;
	height: 100%;
}

#stripe-payment-form-singlepage .image_table {
    margin: auto;
    width: 80%;
    height: 1.7rem;
    border: 0px;
    padding: 15px;
}

#stripe-payment-form-singlepage .image_table > tr, td{
	padding: 0;
	border: 0px;
}

#img1{
    background: url(data/logo_visa_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}
#img2{
    background: url(data/logo_mastercard_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}
#img3{
    background: url(data/logo_amex_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}
#img4{
    background: url(data/logo_discover_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}
#img5{
    background: url(data/logo_DCI_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}
#img6{
    background: url(data/logo_JCB_40.png) no-repeat;
    background-position: center;
	background-size: contain;
}


/* CUSTOM CHECK-BOXES AND RADIO-BUTTONS */

.control__indicator, #stripe-payment-form-singlepage label.control--checkbox {
	display: inline;
}

.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control__indicator {
	position: absolute;
	top: -2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.25);
	box-shadow: 0px 0px 0px 1px white;
}

.control--radio .control__indicator {
	border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
	background: #ccc;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: #047b7b;
}

/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
	background: #0e647d;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
	pointer-events: none;
	opacity: .6;
	background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
	border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
	background: #7b7b7b;
}


/*** Responsive Styles Tablet And Below ***/
@media (max-width: 980px) {
	#gift_allocations > div {
		width: 100%;
	}
	button#confirmation_button {
		font-size: 1rem;
	}
	#confirmation_popup button{
		margin: inherit;
	}
	#confirmation_popup_content {
		display: block;
		top: 10vh;
    	left: 5vw;
    	width: 90vw;
    	height: 80vh;
	}
}